@font-face {
  font-family: "Minecraft";
  src: url("../fonts/F77-Minecraft.woff2") format("woff2"),
    url("../fonts/F77-Minecraft.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
